* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "Montserrat", sans-serif;
}
:root {
  --accent: #4985ff;
  --dark: #323232;
  --grey: #999;
  --light-grey: #e0e0e0;
}
.container {
  max-width: 1145px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
.button {
  margin: 0 auto;
  border-radius: 30px;
  width: 200px;
  height: 45px;
  box-shadow: 0 0 10px 0 rgba(111, 111, 111, 0.25);
  background: var(--accent);
  border: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
